.button {
  margin: 0 auto;
  padding: 12px;
  border-radius: var(--border-small);
  max-width: 50vw;
  background-color: var(--background-secondary);
  border: solid 2px var(--font);
  color: var(--font);
  font-size: 16px;
  font-weight: 600;
}

.nominee {
  composes: button;
  margin-top: 24px;
  border-radius: var(--border-large);
  border-color: none;
}

.nominee:hover {
  background-color: var(--font);
  color: var(--background-secondary);
}

.close {
  margin: unset;
  margin-left: auto;
  margin-top: 12px;
  margin-right: 12px;
  padding: 12px 24px;
  border-radius: var(--border-large);
  display: block;
  font-size: 36px;
}

.submit {
  composes: button;
  border-radius: var(--border-large);
  padding: 36px;
  margin: 48px 0 36px auto;
}
