@font-face {
  font-family: 'Bebas-Regular';
  src: local('Bebas-Regular'),
    url('./../fonts/Bebas-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Bebas-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
