:root {
  --background: #0d2436;
  --background-secondary: #009b86;
  --background-hover: #34ac9c;
  --font: #ffffff;
  --font-hover: #cccccc;
  --selected: #009b86;
  --border-small: 4px;
  --border-large: 12px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--font);
}

button {
  cursor: pointer;
}
