.title {
  text-align: center;
  padding: 12px;
  border-radius: var(--border-large);
}

.app {
  composes: title;
  padding: 24px;
  padding-top: 48px;
}

.category {
  composes: title;
  background-color: var(--background-secondary);
  margin: 24px 0;
}

.nominee {
  composes: title;
}

.results {
  composes: title;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--font);
  width: 80%;
}

@media (min-width: 992px) {
  .title {
    padding: 24px;
  }
}
